.inte{
    font-family:  'Lucida Sans Unicode';
    text-align: center;
}
.msj{
    color:blueviolet;
    text-transform: uppercase;
}
@media (max-width:300px){
    .msj{
        color:cornflowerblue;
        text-transform: lowercase;
    }
}